[submodule "puppet/modules/baseconfig/files/bash"]
	path = puppet/modules/baseconfig/files/bash
	url = git@github.com:Skywire/Config-files-bash.git
[submodule "puppet/modules/baseconfig/files/git"]
	path = puppet/modules/baseconfig/files/git
	url = git@github.com:Skywire/Config-files-git.git
[submodule "puppet/modules/nginx/files/nginx"]
	path = puppet/modules/nginx/files/nginx
	url = git@github.com:Skywire/Config-files-nginx.git
[submodule "puppet/modules/nginx/files/xhprof"]
	path = puppet/modules/nginx/files/xhprof
	url = https://github.com/preinheimer/xhprof.git
